<!-- templates/includes/footer.html -->
<footer class="bg-dark text-white mt-5 py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-3">
                <h5>AutoParts</h5>
                <p>Интернет-магазин автозапчастей с 2024 года</p>
            </div>
            
            <div class="col-md-4 mb-3">
                <h5>Контакты</h5>
                <ul class="list-unstyled">
                    <li>Телефон: +7 (999) 123-45-67</li>
                    <li>Email: info@autoparts.ru</li>
                    <li>Адрес: г. Москва, ул. Автозапчастей, 12</li>
                </ul>
            </div>
            
            <div class="col-md-4 mb-3">
                <h5>Мы в соцсетях</h5>
                <div class="d-flex gap-3">
                    <a href="#" class="text-white"><i class="bi bi-telegram fs-4"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-whatsapp fs-4"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-vk fs-4"></i></a>
                </div>
            </div>
        </div>
        
        <div class="border-top pt-3 text-center">
            <p>&copy; 2024 AutoParts. Все права защищены.</p>
        </div>
    </div>
</footer>