<!-- templates/includes/sidebar.html -->
<div class="sidebar">
    <!-- Категории -->
    <h3>Категории</h3>
    <ul>
        <li {% if not active_category %}class="active-category"{% endif %}>
            <a href="{% url 'catalog:product_list' %}">Все товары</a>
        </li>
        {% for cat in categories %}
            <li {% if active_category and active_category.id == cat.id %}class="active-category"{% endif %}>
                <a href="{% url 'catalog:product_list_by_category' cat.slug %}">
                    {{ cat.name }} ({{ cat.product_count }})
                </a>
            </li>
        {% endfor %}
    </ul>

    <!-- Бренды -->
    <h3>Бренды</h3>
    <ul>
        <li {% if not active_brand %}class="active-category"{% endif %}>
            <a href="{% url 'catalog:product_list' %}">Все бренды</a>
        </li>
        {% for br in brands %}
            <li {% if active_brand and active_brand.id == br.id %}class="active-category"{% endif %}>
                <a href="{% url 'catalog:product_list_by_brand' br.slug %}">
                    {{ br.name }} ({{ br.product_count }})
                    {% if br.logo %}
                        <img src="{{ br.logo.url }}" alt="{{ br.name }}" width="30">
                    {% endif %}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>