{% extends "base.html" %}

{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <a href="{% url 'catalog:product_detail' product.id %}">
                <img src="{{ product.image.url }}" class="card-img-top" style="height: 200px; object-fit: contain;">
            </a>
            <div class="card-body">
                <h5 class="card-title">
                    <a href="{% url 'catalog:product_detail' product.id %}" class="text-decoration-none">
                        {{ product.name }}
                    </a>
                </h5>
                <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-outline-primary btn-sm">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}